<div class="content-page-container">
  <div class="container-fluid content-block">
    <div class="content-title margin-bottom-45"><span *ngIf="category === 'roster'">{{ year }}&nbsp;</span>{{ category | capitalize }}</div>

    <div class="content-body block font-weight-300">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-6" *ngFor="let profile of profiles">
          <div class="profile" [ngStyle]="{ 'background-image': 'url(' + profile.image + ')' }">
            <div class="profile-overlay">
              <div class="profile-info name">{{ profile.first_name }} {{ profile.last_initial }}.</div>
              <div class="profile-info title" *ngIf="profile.captain">Captain</div>
              <div class="profile-info title" *ngIf="profile.coach">Coach</div>
              <div class="profile-info paddle">{{ profile.paddle | capitalize }} paddler</div>

              <div class="admin" *ngIf="profile.admin">Admin</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
