<div class="footer container-fluid">
  <div class="footer-body">
    <div class="footer-nav">
      <div><a class="footer-link" href="#">About</a></div>
      <div><a class="footer-link" href="#">News</a></div>
      <div><a class="footer-link" href="https://www.facebook.com/MOFOsdbt/">Facebook</a></div>
      <div><a class="footer-link" href="https://www.instagram.com/mofosdb/">Instagram</a></div>
      <div><a class="footer-link" href="https://twitter.com/mofosdb">Twitter</a></div>
    </div>

    <div class="font-size-12 font-color-grey">&copy; 2017 MOFOs Dragonboat Club. All rights reserved.</div>
  </div>
</div>
