.home-page {
  width: 100%;

  .splash {
    width: 100%;
    background-image: url("/assets/images/splash.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
}
