.home-page {
  width: 100%;

  .splash {
    width: 100%;
    background-image: url("/assets/images/splash.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .button-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn-action {
        margin-right: 2rem;
      }

      @media (max-width: 768px) {
        justify-content: space-around;

        .btn-action {
          margin-right: 0px;
        }
      }
    }

    .nav-arrow {
      cursor: pointer;
      color: #1DAFEC;

      &:hover {
        color: #77CEF3;
      }
    }
  }

  .card {
    width: 20rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    border-radius: 2px !important;

    &.gallery {
      background: transparent;

      .card-img-top {
        border-bottom-left-radius: 2px !important;
        border-bottom-right-radius: 2px !important;
      }
    }

    .card-img-action {
      display: none;
      height: 100%;
    }

    .card-img-top {
      height: 240px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 2px !important;
      border-top-right-radius: 2px !important;

      &:hover {
        .card-img-action {
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &:hover {
      .card-img-top {
        opacity: 0.8;
      }
      .card-title {
        color: #1DAFEC !important;
      }
    }

    .card-block {
      flex: 1 1 auto;
      padding: 1.25rem;
    }
  }

  .about-text-block {
    padding-left: 5rem;
    padding-right: 5rem;

    @media (max-width: 575px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}
