<div class="home-page">
  <div class="splash"></div>

  <div class="container-fluid welcome-container">

    <div class="row padding-top-15 padding-bottom-15">
      <div class="col-md-5">
        <div class="video-container">
          <iframe width="528" height="311.911" src="https://www.youtube.com/embed/jn-eVF2hPlk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-7 font-weight-300">
        <div class="label-title text-center">Welcome</div>
        <p>Renowned for a propensity to have fun and deliver incredible intensity on the water, the MOFOs have quickly risen to fame and notoriety since the team's inception in 2002.</p>
        <p>It is widely rumored that the MOFOs dragonboat team is home to both the most beautiful women to take part in the sport and the ugliest of men. This pairing of beauty and beast is but one facet of the MOFO enigma.</p>
      </div>
    </div>
  </div>
</div>
