<div class="home-page">
  <div class="splash">
    <button class="btn btn-outline-primary btn-action">Learn More</button>
    <button class="btn btn-outline-primary btn-action">Join the Team</button>
  </div>

  <div class="container-fluid">

    <div class="content-block">
      <div class="content-title margin-bottom-15">Latest News</div>

      <div class="content-body">
        <div class="card text-center" *ngFor="let item of newsItems | slice:0:3">
          <img class="card-img-top" src="{{ item.image }}" />
          <div class="card-block">
            <h5 class="card-title font-weight-300">{{ item.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted font-weight-300">{{ item.published }}</h6>
            <p class="card-text font-weight-300">{{ item.summary }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
