<div class="home-page">
  <div class="splash">
    <div></div>

    <div class="button-group">
      <button class="btn btn-outline-primary btn-action">Learn More</button>
      <button class="btn btn-outline-primary btn-action">Join the Team</button>
    </div>

    <div class="nav-arrow">
      <i class="fa fa-angle-down fa-2x" (click)="scrollToContent()"></i>
    </div>
  </div>

  <div class="container-fluid content-block" id="news-block">
    <div class="content-title margin-bottom-15">Latest News</div>

    <div class="content-body">
      <div class="card text-center" *ngFor="let item of newsItems | slice:0:3">
        <div class="card-img-top" [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }">
          <div class="card-img-action">
            <button class="btn-primary-action">Read More</button>
          </div>
        </div>
        <div class="card-block">
          <h5 class="card-title font-weight-300">{{ item.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted font-weight-300">{{ item.published }}</h6>
          <p class="card-text font-weight-300">{{ item.summary }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-primary-action">See More</div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-block background-white">
    <div class="content-title margin-bottom-15">About</div>

    <div class="content-body text-center font-weight-300 about-text-block">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet ante volutpat, luctus velit et, viverra nisl. Nulla mattis leo id purus ultrices fringilla. Phasellus in dolor nec urna tempor venenatis. Integer ornare ligula eget fringilla fermentum. Nulla sollicitudin est non arcu pharetra pretium. Mauris ac magna eget libero suscipit bibendum. Duis tellus sapien, vestibulum a accumsan at, elementum sed sem. Vestibulum posuere odio quis justo maximus tempus. Etiam mollis eget sapien nec maximus. Donec vitae augue vel urna tristique vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse laoreet arcu a eleifend lacinia. Donec volutpat iaculis lectus, non hendrerit tellus finibus id. In hac habitasse platea dictumst. Vivamus risus arcu, ultrices ut luctus at, porttitor sed neque. Cras sed venenatis ante.</p>
      <p>Suspendisse id dui tempor, ultricies arcu id, feugiat quam. Curabitur varius nisi quis nulla congue, at lobortis dui scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam sed felis lacinia, euismod erat eget, malesuada nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sed lorem ex. Praesent maximus tortor diam, et condimentum orci gravida quis. Praesent vitae aliquam ligula. Sed feugiat odio tellus, vel vulputate magna iaculis aliquam. Fusce in ipsum fringilla, sollicitudin mi eu, luctus mi. Quisque viverra mauris quis posuere interdum.</p>
    </div>
  </div>

  <div class="container-fluid content-block">
    <div class="content-title margin-bottom-15">Gallery</div>

    <div class="content-body">
      <div class="card gallery text-center" *ngFor="let picture of pictures | slice:0:9">
        <div class="card-img-top" [ngStyle]="{ 'background-image': 'url(' + picture.url + ')' }">
          <div class="card-img-action">
            <button class="btn-primary-action">View</button>
          </div>
        </div>
        <div class="card-block">
          <h6 class="card-title mb-2 text-muted font-weight-300">{{ picture.title }}</h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-primary-action">See More</div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-block background-white">
    <div class="content-title margin-bottom-15">Contact Us</div>

    <div class="content-body block">
      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Name</div>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Email</div>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Message</div>
          <textarea class="form-control" rows="4"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-primary-action">Submit</div>
      </div>
    </div>
  </div>
</div>
