<div class="home-page">
  <div class="splash">
    <div></div>

    <div class="button-group">
      <button class="btn-primary-action btn-action" (click)="scrollToAbout()">Learn More</button>
      <button class="btn-primary-action btn-action" (click)="goToJoin()">Join the Team</button>
    </div>

    <div class="nav-arrow">
      <i class="fa fa-angle-down fa-4x" (click)="scrollToContent()"></i>
    </div>
  </div>

  <div class="container-fluid content-block" id="news-block">
    <div class="content-title margin-bottom-45">Latest News</div>

    <div class="content-body">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of news | slice:0:3">
          <div class="card" (click)="goToNewsItem(item.id)">
            <div class="card-img-top" [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"></div>
            <div class="card-block">
              <h5 class="card-title text-center font-weight-300 font-size-18">{{ item.title }}</h5>
              <p class="card-text font-weight-300 font-size-14">{{ item.body | stripHtml | truncate:280 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-primary-action" (click)="goToNews()">See More</div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-block background-grey" id="about-block">
    <div class="content-title margin-bottom-45">About</div>

    <div class="content-body text-center font-weight-300 about-text-block" [innerHTML]="about"></div>
  </div>

  <div class="container-fluid">
    <div class="row splash-body-nav">
      <div class="col-md-4 splash-item-1" (click)="goToRoster()">
        <div class="inner-cover">
          <p class="cover-title">Roster</p>
          <p class="cover-text">Shirtless and Sexy</p>
        </div>
      </div>

      <div class="col-md-4 splash-item-2" (click)="goToResults()">
        <div class="inner-cover">
          <p class="cover-title">A-Division</p>
          <p class="cover-text">Top Placings and Results</p>
        </div>
      </div>

      <div class="col-md-4 splash-item-3" (click)="goToAlumni()">
        <div class="inner-cover">
          <p class="cover-title">Alumni</p>
          <p class="cover-text">{{ teamAge }} Years in the Making</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-block">
    <div class="content-title margin-bottom-45">Contact Us</div>

    <div class="content-body block">
      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Name</div>
          <input type="text" class="form-control" [(ngModel)]="message.name" />
        </div>
      </div>

      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Email</div>
          <input type="text" class="form-control" [(ngModel)]="message.email" />
        </div>
      </div>

      <div class="row margin-bottom-15">
        <div class="col-md-6 offset-md-3">
          <div class="font-weight-300">Message</div>
          <textarea class="form-control" rows="4" [(ngModel)]="message.message"></textarea>
        </div>
      </div>
    </div>

    <div class="row margin-top-15">
      <div class="col-md-12">
        <button class="btn-primary-action" (click)="sendMessage()" [disabled]="message.processing || message.sent || !message.name || !message.email || !message.message">{{ message.sent ? 'Sent' : 'Submit' }}</button>
      </div>
    </div>
  </div>
</div>
