<div class="content-page-container">
  <div class="container-fluid content-block">
    <div class="content-title margin-bottom-45">MOFOs Dragonboat Team</div>

    <div class="content-body block font-weight-300">
      <div class="row splash-body-nav">

        <div class="col-md-4 padded">
          <div class="splash-item splash-item-4" routerLink="/team/roster">
            <div class="inner-cover">
              <p class="cover-title">Current Roster</p>
              <p class="cover-text">{{ year }} Line-up</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 padded">
          <div class="splash-item splash-item-5" routerLink="/team/alumni">
            <div class="inner-cover">
              <p class="cover-title">Alumni</p>
              <p class="cover-text">{{ teamAge }} Years of Flexing</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 padded">
          <div class="splash-item splash-item-6" routerLink="/join">
            <div class="inner-cover">
              <p class="cover-title">Join</p>
              <p class="cover-text">How much can you bench?</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
