<div class="content-page-container">
  <div class="container-fluid content-block">
    <div class="content-title margin-bottom-45">Join</div>

    <div class="content-body block font-weight-300">
      <div class="text-center">
        <p>Are you interested in joining the Toronto based MOFOS dragon boat club? If so simply fill out the form below with your information and we will contact you shortly.</p>
        <p>We are interested in recruiting physically fit and fun individuals of all experience levels to help us reach our goals! If you are not currently physically active but would like to get started with dragon boat we can help find you a team to join.</p>
      </div>

      <div class="row margin-top-30">
        <div class="col-md-6 offset-md-3 offset-md-3 text-center margin-bottom-15">
          <span class="label-title">Basic Information</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">First Name</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.first_name" />
        </div>

        <div class="col-md-3 margin-bottom-15">
          <div class="font-weight-300">Last Name</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.last_name" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Email</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.email" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Gender</div>
          <select class="form-control" [(ngModel)]="joinData.gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender | capitalize }}</option>
          </select>
        </div>

        <div class="col-md-3 margin-bottom-15">
          <div class="font-weight-300">Age</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.age" />
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-md-6 offset-md-3 text-center margin-bottom-15">
          <span class="label-title">Paddling Background</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Experience</div>
          <select class="form-control" [(ngModel)]="joinData.paddling_experience">
            <option *ngFor="let year of experience" [ngValue]="year">{{ year === 0 ? 'None' : year + ' years' }}</option>
          </select>
        </div>

        <div class="col-md-3 margin-bottom-15">
          <div class="font-weight-300">Preference</div>
          <select class="form-control" [(ngModel)]="joinData.paddling_preference">
            <option *ngFor="let preference of preferences" [ngValue]="preference">{{ preference === 'cox' ? 'Cox (Steersperson)' : preference | capitalize }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Previous Team Names</div>
          <textarea class="form-control" [(ngModel)]="joinData.previous_teams"></textarea>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-md-6 offset-md-3 text-center margin-bottom-15">
          <span class="label-title">Fitness Background</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Weight</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.weight" />
        </div>

        <div class="col-md-3 margin-bottom-15">
          <div class="font-weight-300">Height</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.height" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">Max Bench Press</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.max_bench_press" />
        </div>

        <div class="col-md-3 margin-bottom-15">
          <div class="font-weight-300">Max Number of Chinups</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.max_number_chinups" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-3 margin-bottom-15">
          <div class="font-weight-300">5km Jog Time</div>
          <input type="text" class="form-control" [(ngModel)]="joinData.five_km_jog_time" />
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-md-6 offset-md-3 text-center margin-bottom-15">
          <span class="label-title">Comments</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 margin-bottom-15">
          <textarea class="form-control" [(ngModel)]="joinData.comments"></textarea>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-md-6 offset-md-3 text-center">
          <button class="btn-primary-action">Submit</button>
        </div>
      </div>

    </div>
  </div>
</div>
