<div class="content-page-container">
  <div *ngIf="album" class="container-fluid content-block">
    <div class="content-title margin-bottom-45">{{ album.title }}</div>

    <div class="content-body block font-weight-300">
      <div class="row">
        <div class="col-md-4 image-preview-container" *ngFor="let picture of album.pictures; let i = index">
          <div class="image-preview" [ngStyle]="{ 'background-image': 'url(' + picture.url + ')' }" (click)="startCarousel(i)">
            <div *ngIf="picture.description" class="inner-cover text-center">{{ picture.description | truncate:280 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="carousel-container">
  <i class="fa fa-close fa-2x" (click)="closeCarousel()"></i>
  <ngb-carousel *ngIf="album" [activeId]="activeId">
    <ng-template ngbSlide *ngFor="let picture of album.pictures; let i = index;" id="{{ i }}">
      <img [src]="picture.url" alt="{{ picture.description }}" />
      <div class="carousel-caption">
        <p>{{ picture.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
